@charset "utf-8";

/*safari input*/
input[type='button'],
input[type='submit'] { -webkit-appearance: none; -webkit-border-radius: 0; }

/* input 기본 스타일 초기화 */
input {
	-webkit-border-radius: 0; 
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
/*드래그색상 정의*/
/* ::-moz-selection { background:#263658; color:#fff; }
::selection { background:#263658; color:#fff; } */

/*기본태그 정의*/
*{  max-height:1000000px; }

html, body{padding:0;margin:0;}

/* 모바일 가로모드 폰트확대 방지 */
body{-webkit-text-size-adjust:none; }


body,table,input,textarea {font-size:16px; font-family: 'Noto Sans KR', sans-serif; color:#222;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block }
 
button{padding:0; outline:none; cursor:pointer; background: none; border: none;}
img{width:auto; max-width:100%;}
figure{margin:0;}

/* for AXISJ */
body, select, input, a, button{line-height:1;}

/* 링크 테두리 제거 */
a{outline:none;select-dummy:expression(this.hideFocus=true);}

/* 마진과 패딩의 초기화 */
div, pre, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea { margin:0; padding:0; }

/* 헤더 폰트 사이즈 초기화 */
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}

/* 리스트의 스타일 제거 */
ul, ol, li { list-style:none; }
em,address{font-style:normal;}

/* 이미지 및 필드셋에서 보더 표시 초기화 */
img, fieldset { border:none; }
img, object { vertical-align:top; }


a:link{color:#666; text-decoration:none;}
a:active{color:#666; text-decoration:none;}
a:visited{color:#666; text-decoration:none;}
a:hover{color:#666; text-decoration:none;}
